

body {background-image: url(http://www.chuqv.com/Public/img/backgroundimg.png);
}
#sheader {
    width: 922px;;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 1.2em;
    text-shadow: 0 0 10px rgb(51, 51, 51);
}

.main {
    position: relative;
    width: 964px;
    height: 460px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 100px rgba(0, 0, 0, .2);
    color: white;
    overflow: hidden;
}
.main-left {
    float: left;
    width: 200px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 2px 0 0 2px;
}

.main-left-theme {
    height: 5px;
    background-image: url(http://www.chuqv.com/Public/img/schedule/mainTheme.png);
    border-radius: 2px 0 0 0;
}
.main-left-bar {
    height: 40px;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}
div[class|=main-left-bar-icon] {
    float: left;
    width: 10px;
    height: 13px;
    margin: 13.5px 15px;
}
.main-left-bar-icon-my {background-image: url(http://www.chuqv.com/Public/img/schedule/main_leftTable_icon_MY.png)}
.main-left-bar-icon-cost {background-image: url(http://www.chuqv.com/Public/img/schedule/main_leftTable_icon_COST.png)}
.main-left-bar-icon-post {background-image: url(http://www.chuqv.com/Public/img/schedule/main_leftTable_icon_POST.png)}
.main-left-bar-label {
    float: left;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    padding-left: 15px;
    border-style: solid;
    border-width: 0 0 0 1px;
    border-color: rgba(255, 255, 255, 0.3);
}
.main-right {
    position: relative;
    float: right;
    width: 764px;
    height: 100%;
    border-radius: 0 2px 2px 0;
}
.right-bar {
    position: absolute;
    width: 764px;
    height: 460px;
    right: 0;
    display: none;
    border-radius: 0 2px 2px 0;
}
.main-right-userInfor {
    height: 120px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 0 2px 0 0;
}
.main-right-userInfor-photo {
    float: left;
    width: 76px;
    height: 76px;
    border-radius: 100%;
    margin: 22px 30px 22px 40px;
    background-color: rgba(255, 255, 255, 0.2);
    background-image: url(http://www.chuqv.com/Public/img/schedule/userPhoto.png);
}
.main-right-userInfor-right {
    float: left;
    width: 618px;
    height: 120px;
}
.main-right-userInfor-right-name {
    margin-top: 30px;
    margin-bottom: 22px;
    font-size: 24px;
}
.main-right-userInfor-right-detial {
    font-size: 14px;
}
.main-right-userInfor-right-detail-backup {
    float: left;
    margin-right: 20px;
}
.main-right-userInfor-right-detail-following {
    float: left;
    margin-right: 20px;
}
.main-right-userInfor-right-detail-follower {
    float: left;
}

.main-right-detail {
    height: 340px;
    overflow: scroll;
}
.main-right-detail-bar {
    float: left;
    width: 350px;
    overflow: hidden;
    max-height: 115px;
    background-color: rgba(255, 255, 255, 0.1);
    padding-top: 5px;
    margin: 20px 0 0 20px;
    border-radius: 2px;
}
.main-right-detail-bar-image {
    height: 70px;
    background-color: rgba(255, 255, 255, 0.2);
}
.main-right-detail-bar-image-title {
    float: left;
    font-size: 18px;
    margin: 44px 0 5px 10px;
}
div[class|=main-right-detail-bar-image-icon] {
    float: right;
    width: 10px;
    height: 10px;
    margin: 50.5px 0 9.5px 0;
}
.main-right-detail-bar-image-icon-like {
    background-image: url(http://www.chuqv.com/Public/img/schedule/image_like.png);
}
.main-right-detail-bar-image-icon-answer {
    background-image: url(http://www.chuqv.com/Public/img/schedule/image_answer.png);
}

.main-right-detail-bar-image-lable {
    float: right;
    font-size: 14px;
    margin: 50px 10px 5px 5px;
}

.main-right-detail-bar-costBar {
    height: 25px;
/*    padding-left: 10px;*/
    padding: 10px;
}
.main-right-detail-bar-costBar-lable {
    float: left;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
}
.main-right-detail-bar-costBar-lableNum {
    float: left;
    height: 25px;
    line-height: 20px;
    font-size: 18px;
    color: #F8B551;
}
.main-right-detail-bar-costBar-button {
    float: right;
    width: 90px;
    height: 20px;
    background-color: #F8B551;
/*    margin: 10px 10px 0 0;*/
    border-radius: 2px;
    cursor: pointer;
}
.main-right-detail-bar-costBar-button-icon {
    float: left;
    width: 13px;
    height: 13px;
    background-image: url(http://www.chuqv.com/Public/img/schedule/costBar_button_icon.png);
    margin: 3.5px 5px 3.5px 10px;
}
.main-right-detail-bar-costBar-button-lable {
    float: left;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
}
.main-right-detail-bar-line {
    width: 346px;
    height: 2px;
    margin: 0 auto;
/*    background-color: rgba(26, 26, 26, 0.1);*/
/*    background-color: rgba(255, 255, 255, 0.1);*/
    background-image: -moz-linear-gradient(top, rgba(26, 26, 26, 0.1), rgba(255, 255, 255, 0.1));
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(26, 26, 26, 0.1)), to(rgba(255, 255, 255, 0.1)));
}
.main-right-detail-bar-detailBar {
    height: 20px;
    margin: 10px 0;
    font-size: 14px;
    line-height: 20px;
}
div[class|=main-right-detail-bar-detailBar-icon] {
    float: left;
    width: 10px;
    height: 13px;
    margin: 3.5px 5px 3.5px 10px;
}
.main-right-detail-bar-detailBar-icon-PNum {
    background-image: url(http://www.chuqv.com/Public/img/schedule/icon_PNum.png);
}
.main-right-detail-bar-detailBar-icon-Date {
    background-image: url(http://www.chuqv.com/Public/img/schedule/icon_Date.png);
}
.main-right-detail-bar-detailBar-icon-Deal {
    background-image: url(http://www.chuqv.com/Public/img/schedule/icon_Deal.png);
}
.main-right-detail-bar-detailBar-option {
    float: left;
    height: 20px;
    margin-right: 7px;
}
.main-right-detail-bar-detailBar-lable {
    float: left;
    padding: 0 5px;
    line-height: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 2px;
    margin-right: 20px;
    cursor: default;
}
.main-right-detail-bar-detailBar-lable-PNumtext {
    float: left;
    margin-right: 15px;
    
}
.main-right-detail-bar-detailBar-lable-input {
    width: 20px;
    height: 16px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0;
    border-style: none;
    margin: 2px 0;
    color: white;
    text-align: center;
    font-size: 14px;
}

.main-right-detail-bar-detailBar-lable-dateSelector {
    height: 20px;
    background-color: rgba(255, 255, 255, 0);
    padding: 0;
    border-style: none;
    color: white;
    text-align: center;
    font-size: 14px;
}

.main-right-detail-bar-detailBar-configLable {
    float: left;
    padding: 0 5px;
    line-height: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 2px;
    margin-right: 10px;
    cursor: pointer;
}

.stackLine {
    float: left;
    width: 764px;
    background-color: aqua;
}

/*COST*/
.right-bar-COST-titleBar {
    height: 150px;
    background-color: rgba(255, 255, 255, 0.3);
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: rgba(255, 255, 255, 0.5);
    border-radius: 0 2px 0  0;
}
.right-bar-COST-titleBar-left {
    float: left;
    width: 90px;
    padding-left: 20px;
    height: 100%;
    position: relative;
}
.right-bar-COST-titleBar-left-top {
    padding-top: 20px;
    height: 12px;
}
.right-bar-COST-titleBar-left-top-icon {
    float: left;
    width: 13px;
    height: 11px;
    background-image: url(http://www.chuqv.com/Public/img/schedule/COST_icon.png);
    margin: 1px 5px 0 0;
}
.right-bar-COST-titleBar-left-top-lable {
    float: left;
    font-size: 12px;
    height: 12px;
    line-height: 12px;
}
.right-bar-COST-titleBar-left-bottom {
    position: absolute;
    width: 90px;
    bottom: 22px;
}
.right-bar-COST-titleBar-left-bottom-lable {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
}
.right-bar-COST-titleBar-left-bottom-data {
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
}
.right-bar-COST-titleBar-dashboard {
    float: left;
    cursor: pointer;
/*    box-shadow: 0 0 3px black;*/
}
.right-bar-COST-titleBar-detail {
    height: 100%;
    width: 60px;
    float: left;
    margin-right: 50px;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}
.right-bar-COST-titleBar-detail-value {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 30px;
}
.right-bar-COST-titleBar-detail-lable {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 50px;
    margin-bottom: 5px;
}
.right-bar-COST-titleBar-detail-cost {
    float: left;
    font-size: 18px;
    font-weight: 900;
}
.right-bar-COST-titleBar-detail-icon {
    float: left;
    margin-left: 5px;
    font-size: 14px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.8);
}
.right-bar-COST-bottom {
    height: 309px;
}
.right-bar-COST-bottom-navigationBar {
    height: 30px;
    background-color: rgba(255, 255, 255, 0.4);
}
.right-bar-COST-bottom-navigationBar-left {
    float: left;
    height: 100%;
    margin-left: 20px;
}
.right-bar-COST-bottom-navigationBar-left-button {
    float: left;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    cursor: pointer;
}
.right-bar-COST-bottom-navigationBar-left-title {
    float: left;
    height: 30px;
    line-height: 30px;
    margin: 0 10px;
}
.right-bar-COST-bottom-navigationBar-left-title-bar-lable {
    float: left;
    font-size: 14px;
    margin-left: 5px;
}
.right-bar-COST-bottom-navigationBar-left-title-bar-icon {
    float: left;
    width: 15px;
    height: 15px;
    margin: 7px 0;
}
.right-bar-COST-bottom-navigationBar-right {
    float: right;
    height: 100%;
}
/*
.right-bar-COST-bottom-navigationBar-right-button {
    
}
*/
.list-button {
    float: right;
    width: 10px;
    height: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.8);
    margin: 9px 20px;
    cursor: pointer;
}
.button-mark {
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: white;
    margin: 2px;
    display: none;
}
.right-bar-COST-bottom-detailBar {
    height: 219px;
    position: relative;
    overflow: hidden;
}
.right-bar-COST-bottom-detailBar-float {
    position: absolute;
    width: 764px;
    height: 219px;
    display: none;
}
.right-bar-COST-bottom-detailBar-float-themeBar {
    float: left;
    height: 100%;
    width: 5px;
}
.theme-transport {background-color: #5a90e0;}
.theme-food {background-color: #e0bc5a;}
.theme-ticket {background-color: #61ad34;}

.right-bar-COST-bottom-detailBar-float-list {
    float: left;
    height: 100%;
    width: 759px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.right-bar-COST-bottom-detailBar-float-list::-webkit-scrollbar {
    background-color: rgba(0, 0, 0, 0);
    width: 4px;
}
.right-bar-COST-bottom-detailBar-float-list::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 4px;
}

.right-bar-COST-bottom-detailBar-float-list-bar {
    height: 30px;
    width: 744px;
    padding: 0 0 0 15px;
}
.list-bar-title {
    background-color: rgba(255, 255, 255, 0.2);
}
.list-bar-title>.list-bar-label {
    color: white;
    font-weight: 900;
}
.list-bar-label {
    float: left;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.8);
}

.list-bar-label_0 {
    width: 115px;
}
.list-bar-label_1 {
    width: 182px;
    text-align: center;
}
.list-bar-label_2 {
    width: 86px;
    text-align: center;
    margin-left: 22px;
}
.list-bar-label_3 {
    width: 84px;
    text-align: center;
}
.list-bar-label_4 {
    width: 62px;
    text-align: center;
}
.list-bar-label_5 {
    width: 80px;
    text-align: center;
}
.list-bar-label_6 {
/*    text-align: center;*/
    text-align: right;
    width: 60px;
}


/*
.right-bar-COST-bottom-detailBar-float-list-bar-title-button {
    float: right;
    width: 10px;
    height: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.8);
    margin: 9px 20px;
    cursor: pointer;
}
*/
.list-bar-item {
    background-color: rgba(255, 255, 255, 0.1);
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: rgba(255, 255, 255, 0.3);
    transition: all .6s ease;
}
.list-bar-item:hover {
    background-color: rgba(255, 255, 255, 0.5);
}


.right-bar-COST-bottom-bottom {
    height: 60px;
    padding: 0 20px;
    background-color: rgba(255, 255, 255, 0.4);
}
.right-bar-COST-bottom-bottom-lable {
    float: left;
    height: 60px;
    line-height: 60px;
    font-size: 14px;
    margin-right: 8px;
    color: rgba(255, 255, 255, 0.6);
}
.bottom-lable-cost {
    font-size: 18px;
    font-weight: 900;
    color: white;
}
.right-bar-COST-bottom-bottom-post {
    float: right;
    width: 120px;
    height: 36px;
    background-color: #61ad34;
    font-size: 16px;
    text-align: center;
    line-height: 36px;
    margin: 12px 0;
    cursor: pointer;
}

.right-bar-SUPPORT-title {
    width: 100%;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 0 2px 0 0;
    font-size: 16px;
    line-height: 40px;
    text-indent: 20px;
}
.right-bar-SUPPORT-window {
    width: 744px;
    height: 410px;
    border-radius: 0 0 2px 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: rgba(255, 255, 255, 0.3);
}
.right-bar-SUPPORT-list {    
    height: 409px;
    max-height: 409px;
    overflow: scroll;
    padding: 0 0 0 5px;
}
.right-bar-SUPPORT-list::-webkit-scrollbar {
    background-color: rgba(0, 0, 0, 0);
    width: 4px;
    height: 0;
}
.right-bar-SUPPORT-list::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 4px;
}
.right-bar-SUPPORT-list-item {
    height: 90px;
    overflow: hidden;
    margin-top: 5px;
    width: 734px;
}
.right-bar-SUPPORT-list-item-titleBar {
    height: 45px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 2px 2px 0 0;
    padding-left: 10px;
    cursor: pointer;
}
.right-bar-SUPPORT-list-item-titleBar-labelBar {
    height: 45px;
    float: left;
}
.right-bar-SUPPORT-list-item-titleBar-labelBar-name {
    float: left;
    height: 45px;
    line-height: 46px;
    margin-right: 5px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
}
.right-bar-SUPPORT-list-item-titleBar-labelBar-insert {
    float: left;
    height: 45px;
    line-height: 45px;
    font-size: 18px;
}
.support_loc165 {width: 165px}
.support_loc100 {width: 100px}
.support_loc215 {width: 215px}
.support_loc75 {width: 75px}
.support_mar5 {margin-right: 5px}
.support_mar20 {margin-right: 20px}
.right-bar-SUPPORT-list-item-detailBar {
    min-height: 45px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 0 0 2px 2px;
    padding-left: 10px;
}
.right-bar-SUPPORT-list-item-button {
    float: right;
    width: 66px;
    height: 22px;
    background-color: #61ad34;
    margin: 11px 10px 12px 0;
    border-radius: 2px;
    line-height: 22px;
    text-align: center;
    cursor: pointer;
}

.right-bar-SUPPORT-list-item-detail {
    height: 80px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 0 0 2px 2px;
    border-style: solid;
    border-width: 2px 0 0 0;
    border-color: rgba(255, 255, 255, 0.2);
}
.right-bar-SUPPORT-list-item-detail-title {
    float: left;
    margin-right: 5px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    padding: 10px 30px 0 10px;
}
.right-bar-SUPPORT-list-item-detail-list {
    float: left;
    width: 70px;
    padding: 6px 0 8px 0;
    min-height: 30px;
}
.right-bar-SUPPORT-list-item-detail-list-item {
    padding-bottom: 10px;
    font-size: 18px;
}
.right-bar-SUPPORT-list-item-detail-button {
    float: left;
    width: 14px;
    height: 14px;
    background-image: url(http://www.chuqv.com/Public/img/schedule/support_add.png);
/*
    font-size: 14px;
    width: 13px;
    height: 13px;
    line-height: 14px;
    text-align: center;
    border-style: solid;
    border-radius: 1px;
    border-width: 1px;
    border-color: white;
*/
    margin: 6px 70px 0 0;
    cursor: pointer;
}










