<!DOCTYPE html>
<html>
    <head>
        <meta charset=utf-8>
        <link rel="stylesheet" type="text/css" href="{$Think.const.CSS_PATH}/main.css"/>
        <link rel="stylesheet" type="text/css" href="{$Think.const.CSS_PATH}/index.css"/>
        <link rel="stylesheet" type="text/css" href="{$Think.const.CSS_PATH}/animation.css"/>
        <title>初去网(ChuQv.com)-欧洲旅游-欧洲行程规划-欧洲自由行规划-欧洲定制旅游规划</title>
            <meta name="description" content="初去网是中国领先的欧洲旅游智能行程规划平台，为您提供数百家欧洲交通查询，包括欧洲机票、欧洲火车、欧洲大巴、欧洲轮船等。提供欧洲地接快速报价，是欧洲旅游，欧洲定制游，欧洲自由行必备工具" />
            <meta name="keywords" content="欧洲旅游,欧洲定制游,欧洲自由行,欧洲行程规划,欧洲机票,欧洲酒店,欧洲商务管理" />
            <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
    <body id="screen" onload="loading(1)">
        <div id="blurGlass">
        <!--引入头部页面-->
		<include file="./Home/Inclu/header.html"/>
		
        <section>
            <div class="blogo">
                <li class="divlogo"><img src="{$Think.const.IMG_PATH}/logo_big.png"></li>
            </div>
			
            <span class="text1">一分钟就完成您的欧洲行程规划及攻略</span>
            <span class="text2">初去网是中国领先的智能旅游行程规划平台,为您提供数百家欧洲交通查询，包括欧洲机票、欧洲火车、欧洲大巴、欧洲轮船等。提供欧洲地接快速报价，是欧洲旅游，欧洲定制游，欧洲自由行必备工具</span>
            <!--<h1 class="text3">欧洲游？三步就够了！</h1>-->
            <a href="__ROOT__/index.php/home/route/destination" role="button">
                <button class="button0" id="go">开启初去之旅</button>
            </a>
			
        </section>
		<div class="lineS"></div><div class="lineH"></div>
        <div id="about-us">
		    
		    <span class="text1">ABOUT US</span>
			<span class="text2">初去（北京出趣互联科技有限公司）是为定制游和自由行用户而服务的平台，我们成立于2015年6月，我们的成员是中国最早从事定制游行程制定的专家，我们把旅游的规则融入到算法当中，我们相信，好的产品有自己的灵魂。
我们旨在为每个旅行者解决行程制定的问题，并提供旅行者旅行信息及建议，希望每个初去欧洲的旅行者，在我们的帮助下，能够体验最轻松愉快地旅行。</span>
		
		</div>
		<div class="lineHS"></div>
		<table class="tbl-home">
		    <tr>
			     <td class="td-lineL">
				 <li><img src="{$Think.const.IMG_PATH}/home_icon02.png"></li><br>
				 <span class="text1">欧洲地接即时报价</span><br>
                 <span class="text2">生成后的行程用户可以发布竞价,欧洲一手地接社会即时进行报价,在线修改行程/实时报价，让旅行更简单！</span><br>
                 <li><img src="{$Think.const.IMG_PATH}/home_icon04.png"></li>
				 </td>
				
				 <td class="td-lineR">
				 <span class="text1">三步生成行程方案</span><br>
                 <span class="text2">通过目的地，兴趣点，时间，成本，体验，可行性等10个维度综合计算得出最优行程路线方案,还可以手动调整优化路线。</span><br>
                 <li><img src="{$Think.const.IMG_PATH}/home_icon03.png"></li><br>
				 <span class="text1">优秀的欧洲小交通</span><br>
                 <span class="text2">32+铁路公司,17+船运公司,600+大巴公司及15000多个欧洲站点,总计数百万条欧洲交通线路。</span><br>
            
				 </td>
			</tr>
		</table>
		<br>
		<div class="lineHS"></div>
		<section>
		<li><img src="{$Think.const.IMG_PATH}/home_icon05.png"></li>
        <a href="__ROOT__/index.php/home/route/destination" role="button">
        <button id="go_1">开启初去之旅</button>
        </a>
		</section>
		<div class="lineHS"></div><br>
		<div class="lineHS"></div>
		<div class="lineSS"></div>
		
		<div class="homefooter">
		    <li><img src="{$Think.const.IMG_PATH}/logo_little.png"></li>
         <div>
		
	   <div class="lineHS_1"></div>
	   <table class="tbl-home_1">
		    <tr>
			     <td>
				 <li><img src="{$Think.const.IMG_PATH}/home_icon06.png"></li>
				 <span>info@chuqv.com</span>
              	 </td>
				 <td>
				 <li><img src="{$Think.const.IMG_PATH}/home_icon07.png"></li>
				 <span>010-57025090</span>
              	  </td>
				 <td>
				 <li><img src="{$Think.const.IMG_PATH}/home_icon08.png"></li>
				 <span>北京朝阳区西大望路甲12号2号楼</span>
              	 
				 </td>
			</tr>
		</table>
		<div class="lineHS_1"></div>
		<div class="footer-info">
		©2016 初去网™ chuqv.com All rights reserved.京ICP备15039576号<br><br><br><br><br>
        <center><script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1259573216'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1259573216%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script></center>
		
		</div>
		
		</div>
        <!--引入登录、注册页面-->
		<include file="./Home/Inclu/log_reg.html"/>
        <script src="{$Think.const.JS_PATH}/jquery-2.1.4.min.js"></script>
        <script src="{$Think.const.JS_PATH}/index.js"></script>
		<script src="{$Think.const.JS_PATH}/log_reg.js"></script>
	


    </body>
</html>
